@charset "UTF-8";
/* youtuber等
   Add this css for responsive embedded videos in your .css file. */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Tables
-------------------------------------------------- */
div.simpleCart_items table {
  width: 100%;
  margin-bottom: 20px;
  line-height: 3;
  border-collapse: collapse;
  border-spacing: 0;
}

div.simpleCart_items table {
  /*
  Max width before this PARTICULAR table gets nasty
  This query will take effect for any screen smaller than 760px
  and also iPads specifically.
  */
}
div.simpleCart_items table tbody {
  border-bottom: 1px solid #ddd;
}
div.simpleCart_items table th {
  text-align: left;
}
div.simpleCart_items table td {
  padding: 0px 0;
  border-top: 1px solid #ddd;
}
div.simpleCart_items table th {
  font-weight: 400;
}
div.simpleCart_items table .item-quantity {
  text-align: center;
}
@media (max-width: 990px) {
  div.simpleCart_items table {
    /* Force table to not be like tables */
    /* Hide table headers (but not display: none;, for accessibility) */
    /*
    Label the data
    */
  }
  div.simpleCart_items table table,
  div.simpleCart_items table tbody,
  div.simpleCart_items table td,
  div.simpleCart_items table th,
  div.simpleCart_items table thead,
  div.simpleCart_items table tr {
    display: block;
    line-height: 1.5;
  }
  div.simpleCart_items table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  div.simpleCart_items table tr {
    margin-bottom: 8px;
    border: 1px solid #ccc;
  }
  div.simpleCart_items table tbody {
    border-bottom: 0px;
  }
  div.simpleCart_items table td {
    /* Behave  like a "row" */
    position: relative;
    padding-left: 50px;
    border: 0;
    border-bottom: 0px solid #eee;
  }
  div.simpleCart_items table td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  div.simpleCart_items table .item-quantity {
    text-align: left;
  }
  div.simpleCart_items table .item-decrement,
  div.simpleCart_items table .item-quantity,
  div.simpleCart_items table .item-increment,
  div.simpleCart_items table .item-remove {
    display: inline-block;
  }
  div.simpleCart_items table .item-quantity,
  div.simpleCart_items table .item-increment {
    padding-left: 20px;
  }
  div.simpleCart_items table .item-remove {
    float: right;
    margin-right: 10px;
  }
  div.simpleCart_items table td.item-total,
  div.simpleCart_items table td.item-price {
    display: none;
  }
  div.simpleCart_items table td:nth-of-type(1):before {
    content: "名稱:";
  }
  div.simpleCart_items table td:nth-of-type(2):before {
    content: "類型:";
  }
  div.simpleCart_items table td:nth-of-type(3):before {
    content: "日期:";
  }
  div.simpleCart_items table td:nth-of-type(4):before {
    content: "場次:";
  }
  div.simpleCart_items table td:nth-of-type(5):before {
    content: "數量:";
  }
}

/*-------------------------------------------------- */
.shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 2s;
}

@keyframes shake {
  0% {
    transform: translate(20px, 0px) rotate(0deg);
  }
  10% {
    transform: translate(-20px, 0px) rotate(-1deg);
  }
  20% {
    transform: translate(20px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(-20px, 0px) rotate(0deg);
  }
  40% {
    transform: translate(20px, 0px) rotate(1deg);
  }
  50% {
    transform: translate(-20px, 0px) rotate(-1deg);
  }
  60% {
    transform: translate(20px, 0px) rotate(0deg);
  }
  70% {
    transform: translate(-10px, 0px) rotate(-1deg);
  }
  80% {
    transform: translate(10px, 0px) rotate(1deg);
  }
  90% {
    transform: translate(-5px, 0px) rotate(0deg);
  }
  100% {
    transform: translate(3px, 0px) rotate(-1deg);
  }
}
.nodisplay {
  display: none;
}

a {
  color: var(--bs-red);
  color: #000;
  text-decoration: none;
}

a:hover {
  color: black;
}

.imgq {
  border-radius: 10px;
}

/*# sourceMappingURL=styles.css.map */